<template>
  <div>
    <clv-menu/>
    <clv-text prefix="Contact: ">This is the Contact page in Nuxt3 / app-concact</clv-text>
    <p @click="increment">Counter: {{ data?.counter }}</p>
  </div>
</template>

<script setup lang="ts">
import { ClvMenu, ClvText } from 'javier-sedano-ufe4-component-library-vue3';

const { data } = await useAsyncData('res', async () => {
  const counter = Math.round(Math.random() * 10) + 1;
  return {
    counter,
  };
});

async function increment() {
  if (data?.value?.counter !== undefined) {
    data.value.counter++;
  }
}

</script>