<template>
  <div>
    <clv-menu/>
    <clv-text prefix="Products: ">This is the Products page in Vue3 / app-products</clv-text>
    <p @click="increment">Counter: {{ counter }}</p>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { ClvMenu, ClvText } from 'javier-sedano-ufe4-component-library-vue3';

const counter = ref(0 as number);

onMounted(async () => {
  counter.value = Math.round(Math.random() * 10) + 1;
});

async function increment() {
  counter.value++;
}

</script>