<template>
  <div>
    <clv-menu/>
    <p>Loging in...</p>
  </div>
</template>
  
<script lang="ts" setup>
import { onMounted } from 'vue';
import { navigateTo } from 'nuxt/app';
import { useRoute } from 'vue-router';
import { OidcService } from 'javier-sedano-ufe4-lib-login';
import { ClvMenu } from 'javier-sedano-ufe4-component-library-vue3';

const oidcService = new OidcService();

const route = useRoute();

onMounted(async () => {
  const backurl: string = route.query.backurl ? '' + route.query.backurl : '/';
  console.log(backurl);
  await oidcService.loginAuthorizationCodeFlowWithPkcePopupCallback();
  await navigateTo(backurl, {
    external: true,
  });
});
</script>
