<template>
  <p>
    uFE4
    <a href="/">Home</a>&nbsp;
    <a href="/nonexisting/">Nonexisting</a>&nbsp;
    <a href="/contact/">Contact</a>&nbsp;
    <a href="/contact/nonexisting">ContactNonexisting</a>&nbsp;
    <a href="/products/">Products</a>&nbsp;
    <a href="/products/nonexisting">ProductsNonexisting</a>&nbsp;
    <a href="/account/">Account</a>&nbsp;
    <a href="/account/nonexisting">AccountNonexisting</a>&nbsp;
    &nbsp;
  </p>
</template>
