<template>
  <p>
    uFE4
    <a href="/">Home</a>&nbsp;
    <a href="/nonexisting/">Nonexisting</a>&nbsp;
    <a href="/contact/">Contact</a>&nbsp;
    <a href="/contact/nonexisting">ContactNonexisting</a>&nbsp;
    <a href="/products/">Products</a>&nbsp;
    <a href="/products/nonexisting">ProductsNonexisting</a>&nbsp;
    <template v-if="oidcUser === null">
      <a href="#" @click.prevent="login">Login</a>&nbsp;
    </template>
    <template v-else>
      <a href="/account/">Account</a>&nbsp;
      <a href="/account/nonexisting">AccountNonexisting</a>&nbsp;
      <a href="#" @click.prevent="logout">Logout</a>&nbsp;
    </template>
    &nbsp;
  </p>
</template>

<script lang="ts" setup>
import { ref, onMounted } from "vue";
import { User } from 'oidc-client-ts';
import { oidcService } from 'javier-sedano-ufe4-lib-login';

const oidcUser = ref<User | null>(null);

onMounted(async () => {
  oidcUser.value = await oidcService.getUser();
  console.log('Logged user:');
  console.log(oidcUser);
  oidcService.addUserLoadedCallback((user: User) => {
    oidcUser.value = user;
  });
});

async function login() {
  await oidcService.loginAuthorizationCodeFlowWithPkce(window.location.href);
}

async function logout() {
  await oidcService.logout();
}

</script>
